.hider {
    /*
     * #3A7CA5 is the color suggested by Golnaz
     * #e7ebf3 is the color suggested by Alberto
     */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .hide-on-small {
        display: none;
    }
}

.linea-punti {
    background: repeating-linear-gradient(to right, blue 0, blue 2px, transparent 2px, transparent 4px);
}

@media (prefers-color-scheme: dark) {
    .linea-punti {
        background: repeating-linear-gradient(to right, white 0, white 2px, transparent 2px, transparent 4px);
    }
}

.linea-alternata {
    background: repeating-linear-gradient(to right,
            brown 0,
            brown 1px,
            transparent 1px,
            transparent 4px,
            brown 4px,
            brown 9px,
            transparent 9px,
            transparent 12px

        );
}

@media (prefers-color-scheme: dark) {
    .linea-alternata {
        background: repeating-linear-gradient(to right,
                white 0,
                white 1px,
                transparent 1px,
                transparent 4px,
                white 4px,
                white 9px,
                transparent 9px,
                transparent 12px

            );
    }
}