.hider {
    /*
     * #3A7CA5 is the color suggested by Golnaz
     * #e7ebf3 is the color suggested by Alberto
     */
    background-color: #e7ebf3 ; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .hide-on-small {
      display: none;
    }
  }