.button-whole-Kiruna {
    background-color: white;
    color: #4A4A4A;
    border: 1px solid #ccc;
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-whole-Kiruna:hover {
    background-color: #f0f0f0;
    border-color: #b0b0b0; 
}

.Kiruna-map-style-button {
    background-color: white;
    color: #4A4A4A;
    position: absolute;
    bottom: 2rem; /* Move to bottom */
    right: 0.5rem; /* Move to right */
    z-index: 1;
    width: 1.8rem; /* Set width */
    height: 1.8rem; /* Set height */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border-radius: 0.3rem; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for floating effect */
    border: none;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.Kiruna-map-style-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.popup-content {
    display: inline-block;
    padding: 10px;
    min-width: 100px;
    max-width: 100%;
    word-wrap: break-word;
  }


  .Kiruna-area-button {
    background-color: white;
    color: #4A4A4A;
    border: 1px solid #ccc;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Kiruna-area-button:hover {
    background-color: #f0f0f0;
    border-color: #b0b0b0; 
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
    .Kiruna-map-style-button {
        background-color: #1a1a1a; /* Shinier black */
        color: #E0E0E0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow */
    }

    .Kiruna-map-style-button:hover {
        background-color: #333; /* Slightly lighter black on hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
    }
}