.button-whole-Kiruna {
    background-color: white;
    color: #4A4A4A;
    border: 1px solid #ccc;
    position: absolute;
    top: 0.625rem;
    left: 1.2rem;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 11rem;
}

.button-whole-Kiruna:hover {
    background-color: #f0f0f0;
    border-color: #b0b0b0; 
}

.popup-content {
    display: inline-block;
    padding: 10px;
    min-width: 100px;
    max-width: 100%;
    word-wrap: break-word;
  }


  .Kiruna-area-button {
    background-color: white;
    color: #4A4A4A;
    border: 1px solid #ccc;
    position: absolute;
    top: 0.625rem;
    left: 13rem;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 9rem;
}

.Kiruna-area-button:hover {
    background-color: #f0f0f0;
    border-color: #b0b0b0; 
}

.quickfilter {
    background-color: white;
    color: #4A4A4A;
    border: none; /* Remove border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for floating effect */
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem; /* Rounded corners */
    width: 8rem; /* Adjust the width as needed */
    height: 2.5rem; /* Adjust the height as needed */
    cursor: pointer; /* Change cursor to pointer */
}

