.custom-slide-content {
  width: 40%; /* Adjust the width as needed */
  padding: 0.5rem 1rem; /* Adjust the padding as needed */
  margin-left: 3rem; /* Move the element to the right */
  text-align: center;
}
.custom-card {
  width: 80%; /* Adjust the width as needed */
  

}

.custom-video-container {
  border-radius: 0.5rem; /* Equivalent to rounded-lg */
  overflow: hidden;
}